
@{
    ViewData["Title"] = "Details";
}


<div class="row mt-3">
    <div class="col-6">
         <div class="card">

            <div class="card-header">
                <img class="col-12" style="width:100%;height:auto;" src="@ViewBag.author.AuthorImageURL" alt="" />
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-4 "><b>Name :</b></div>
                    <div class="col-8">@ViewBag.author.Name</div>
                </div>
                <div class="row">
                    <div class="col-4 "><b>Email :</b></div>
                    <div class="col-8 ">@ViewBag.author.Email</div>
                </div>
                <div class="row">
                    <div class="col-4 "><b>Bio :</b></div>
                    <div class="col-8 ">@ViewBag.author.Biography</div>
                </div>
                <div class="row">
                    <div class="col-4 "><b>Address :</b></div>
                    <div class="col-8 ">@ViewBag.author.Address</div>
                </div>
            </div>
            <div class="card-footer">

                <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "Author")?id=@ViewBag.author.Id">
                    Edit
                </a>
                <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Author")?id=@ViewBag.author.Id">
                    Delete
                </a>
            </div>
         </div>

    </div>
    <div class="col-6">
        <div class="h3">List of All Books</div>
        <div class="d-flex mt-3">

            @foreach (var book in ViewBag.author.BookList)
            {

                <div class="card m-2 w-50" style="width: 18rem;">
                    <img src="@book.BookImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description</p>
                        <p class="card-text">@book.PublishedAt</p>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary" href="@Url.Action("BookDetails", "Book")?id=@book.Id">
                            Details
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
